/* ==========================================================================
   Print Stylesheet
   ========================================================================== */

/* Good Defaults */
* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
	filter:none !important;
	-ms-filter: none !important;
}
a, a:visited {
	color: #444 !important;
	text-decoration: underline;

	// show links on printed pages
	&:after {
	  content: " (" attr(href) ")";
	}

	// show title too
	abbr[title]:after {
	  content: " (" attr(title) ")";
	}
}
a[href^="javascript:"]:after,
a[href^="#"]:after {
	content: "";
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr, img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
@page {
	margin: 1.5cm 0.5cm;
}
p, h2, h3 {
	orphans: 3;
	widows: 3;
}
h2,
h3 {
	page-break-after: avoid;
}

// hide content people who print don't need to see
.sidebar,
.page-navigation,
.wp-prev-next,
.respond-form,
nav {
	display: none;
}

/* Custom Styles */

// Align footer content to right
footer .copyright, footer .copyright p {
	margin: 0;
}
footer {
	margin-top: 0;
}

// Remove link description for these
header a, 
a[href^="http://ucla.edu"], 
.tribe-events-cal-links a {
	
	&:after{
		content: none;
	}
}

// Make main content full width
#main-content {
	width: 100%;
}

// Hide these
.give-back,
header form,
footer img,
#hero,
#slider,
.side,
#tribe-events-bar {
	display: none;
}

// Show these
dl.faq dd {
	display: block!important;
}