@import "partials/fonts";

/* ==========================================================================
   Typography
   ========================================================================== */

// If targeting a text element (ie. h1-h6, p, li, blockquote), try to style here.
// The exception is header/footer navigation and unique list styles.

body {
	color: $text-color;
	font: 14px/1.8em $proxima;
	text-shadow: 0 0 1px transparent;
}

/*    Headers
/*--------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	color: $header-color;
	font-weight: bold;
	clear: both;
	margin: 0 0 20px 0;
}

// Using em's to make the size relative to the base font and line height set for the body
// ex. 14px * 3em = 42px
h1 {
	font-size: 4em; // 14 * 4 = 56
	line-height: 1.1em;
}
h2 {
	//font-size: 3em; // 14 * 3 = 42
	font-size: 2.2em; // 14 * 2.2 = 30.8
	line-height: 1.2em;
    border-top: 5px $primary solid;
    display: inline-block;
    white-space: pre-line;
}
h3 {
	//font-size: 2em; // 14 * 2.2 = 30.8
	font-size: 1.6em; // 14 * 1.5 = 21
	line-height: 1.2em;
}
h4 {
	//font-size: 2em; // 14 * 2 = 28
	font-size: 1.35em; // 14 * 1.5 = 21
	line-height: 1.2em;
    color: $primary-dark;
}
h5 {
	font-size: 1.3em; // 14 * 1.5 = 21
	line-height: 1.3em;
    font-weight: normal;
    text-transform: uppercase;
}
h6 {
	font-size: 1em; // 14 * 1 = 14
	line-height: 1.3em;
}

/* Custom Headers */
.page {
	h2, h3, h4, h5, h6 {
		margin-top: .5em;
		margin-bottom: .5em;
	}
}
.home {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
	h2 {
		font-size: 2em;
		font-weight: bold;
		padding: 15px 15px 0 0;
		margin: 0;
	}
	h4 {
		margin-bottom: 5px;
		font-size: 1em;
	}
}
.page nav h3, .home h3 {
	font-weight: bold;
}
h1.search-title {
	margin-bottom: 40px;
}
h1 span {
	display: block;
	font-size: .2em;
	line-height: 1em;
}
.archive .main header h2 {
	font-size: 2em;
}
.tax-people_cat .main header h2.filter-title {
	color: $secondary;
	//background-color: $separator-color;
	padding: 10px 0;
    display:block;
    border:none;
}
h2.subtitle {
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: lighter;
	font-style: italic;
}
.home .col h3, .col + .col h3 {
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: 2px solid $border-color;
	font-size: 1.3em;
}
.home .col h3 {
	margin-bottom: 20px;
}
nav h3, .side h3 {
	font-size: 1.5em;
	margin: 0 0 20px 0;
}
.archive .main header h3 {
	font-size: 1.2em;
}
.filter h3 {
	margin-bottom: 15px;
}
.col + .col h4 {
	font-size: 1em;
}

/*    Text Elements
/*--------------------------------------*/

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
hr {
	color: $border-color;
	background-color: $border-color;
	height: 1px;
	border: none;
	margin: 30px 0;
}
p {
	margin: 2em 0;
}
h1, h2, h3, h4, h5, h6 {
	+ p, + ul, + ol, + dl {
		margin-top: 5px;
	}
}
ul, ol {
	padding: 0;
}
li {
	margin: 0 0 0 20px;
	list-style-type: disc;
}
ol li {
	list-style-type: decimal;
}
cite {
	font-style: italic;
}
blockquote {
	padding: 1px 40px 1px 22px;
	font-size: 1.5em;
	font-style: italic;
	color: $secondary;
	border-left: 15px solid $separator-color;
	margin: 30px 0;
	
	p {
		margin: 1em 0;
	}
}
figcaption {
	font-style: italic; 
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 25px 0;
	font-weight: normal;
}

/*    Links
/*--------------------------------------*/

a:link, .col a h4 {
	text-decoration: none;
	color: $link-color;
	font-weight: bold;
	@include transition(color 0.24s ease-in-out);
    text-decoration: underline;
}
a:hover, a:focus, a:active, 
.col a h4:hover, .col a h4:focus, .col a h4:active {
	color: $link-hover-color;
}
.col a:visited, .main a:visited {
	color: $link-visited-color;
}
nav a:link, a.btn, .people-list a, .home .col a {
	text-decoration: none;
}

// This adds icon to links that lead to outside the website
// Uncomment and change URL to domain of website as need
article {
	p, h1, h2, h3, h4, h5, h6 {
		a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]) {
			background-image: url('../images/new-window.png');
			background-position: right center;
			background-repeat: no-repeat;
			padding-right: 12px;
			margin-right: 5px;
			
			// Don't style external link buttons
			&.btn {
				background-image: none;
			}
		}
	}
}

/*    Accessibility
/*--------------------------------------*/

// Accessible way to hide text
.hidden {
	@extend %visuallyhidden;
}
.skip {
	float: left;
}
.skip:focus {
	position: static;
	width: auto;
	height: auto;
} 