// *********************
// COLORS
// *********************/

// Define Colors
$ucla-blue:				#347bad;
$dark-blue:				#0277bd;
$purple:               #81009e;// #b30071;
$orange:                #f8943d;
    
$dark-orange:           #d97900;

// Define Color Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$orange;
$primary-light:			tint($primary, 73%);
$primary-dark:			shade($primary, 82%);

$secondary: 			$purple;
$secondary-light: 		tint($secondary, 65% );
$secondary-dark: 		darken($secondary, 15% );

$tertiary:				$orange;
$tertiary-light:		tint($orange, 30%);
$tertiary-dark:			shade($orange, 82%);

// Text Colors
$text-color:			rgba(black, .87);
$secondary-text-color:	rgba(black, .60);
$white-text-color:		white;
$link-color:			$secondary-light;
$link-hover-color:		$secondary-dark;
$link-visited-color:	$secondary-light;
$header-color:			$text-color;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$secondary-light;
$background-color:		$primary-light;
$btn-color:				$secondary;
$btn-hover-color:		$secondary-light;
$bullet-point:			$secondary;
$bg-light-color:		rgba(black, .03);
$bg-dark-color:			rgba(black, .06);
//$accent-color:          $dark-orange;

// *********************
// NUMBERS
// *********************/

//Global Border Radius
$radius:				15px;
$site-width:			940px;