@charset "UTF-8";
/******************************************************************
Site Name: Department or Center Name
Author(s): Lucian Tucker

Stylesheet: Main Stylesheet
******************************************************************/
/* ==========================================================================
   Normalize v3.0.2 | MIT License
   ========================================================================== */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

p {
  -webkit-hyphens: manual;
  -epub-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.hidden, .gform_validation_container {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*    F O N T S
/*--------------------------------------*/
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  font-weight: lighter;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regit-webfont.eot");
  src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg"); } }

/* ==========================================================================
   Typography
   ========================================================================== */
body {
  color: rgba(0, 0, 0, 0.87);
  font: 14px/1.8em "Proxima", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px transparent; }

/*    Headers
/*--------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  clear: both;
  margin: 0 0 20px 0; }

h1 {
  font-size: 4em;
  line-height: 1.1em; }

h2 {
  font-size: 2.2em;
  line-height: 1.2em;
  border-top: 5px #f8943d solid;
  display: inline-block;
  white-space: pre-line; }

h3 {
  font-size: 1.6em;
  line-height: 1.2em; }

h4 {
  font-size: 1.35em;
  line-height: 1.3em;
  color: #cb7932; }

h5 {
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: normal;
  text-transform: uppercase; }

h6 {
  font-size: 1em;
  line-height: 1.3em; }

/* Custom Headers */
.page h2, .page h3, .page h4, .page h5, .page h6 {
  margin-top: .5em;
  margin-bottom: .5em; }

.home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
  margin-top: 0; }

.home h2 {
  font-size: 2em;
  font-weight: bold;
  padding: 15px 15px 0 0;
  margin: 0; }

.home h4 {
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 1.5em; }

.page nav h3, .home h3 {
  font-weight: bold; }

h1.search-title {
  margin-bottom: 40px; }

h1 span {
  display: block;
  font-size: .2em;
  line-height: 1em; }

.archive .main header h2 {
  font-size: 2em; }

.tax-people_cat .main header h2.filter-title {
  color: #81009e;
  padding: 10px 0;
  display: block;
  border: none; }

h2.subtitle {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: lighter;
  font-style: italic; }

.home .col h3, .col + .col h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 1.3em; }

.home .col h3 {
  margin-bottom: 20px; }

nav h3, .side h3 {
  font-size: 1.5em;
  margin: 0 0 20px 0; }

.archive .main header h3 {
  font-size: 1.2em; }

.filter h3 {
  margin-bottom: 15px; }

.col + .col h4 {
  font-size: 1em; }

/*    Text Elements
/*--------------------------------------*/
strong {
  font-weight: bold; }

em {
  font-style: italic; }

hr {
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  height: 1px;
  border: none;
  margin: 30px 0; }

p {
  margin: 2em 0; }

h1 + p, h1 + ul, h1 + ol, h1 + dl, h2 + p, h2 + ul, h2 + ol, h2 + dl, h3 + p, h3 + ul, h3 + ol, h3 + dl, h4 + p, h4 + ul, h4 + ol, h4 + dl, h5 + p, h5 + ul, h5 + ol, h5 + dl, h6 + p, h6 + ul, h6 + ol, h6 + dl {
  margin-top: 5px; }

ul, ol {
  padding: 0; }

li {
  margin: 0 0 0 20px;
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

cite {
  font-style: italic; }

blockquote {
  padding: 1px 40px 1px 22px;
  font-size: 1.5em;
  font-style: italic;
  color: #81009e;
  border-left: 15px solid #ad59bf;
  margin: 30px 0; }
  blockquote p {
    margin: 1em 0; }

figcaption {
  font-style: italic; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 25px 0;
  font-weight: normal; }

/*    Links
/*--------------------------------------*/
a:link, .col a h4 {
  text-decoration: none;
  color: #ad59bf;
  font-weight: bold;
  -webkit-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
  text-decoration: underline; }

a:hover, a:focus, a:active,
.col a h4:hover, .col a h4:focus, .col a h4:active {
  color: #430052; }

.col a:visited, .main a:visited {
  color: #ad59bf; }

nav a:link, a.btn, .people-list a, .home .col a {
  text-decoration: none; }

article p a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]), article h1 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]), article h2 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]), article h3 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]), article h4 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]), article h5 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]), article h6 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]) {
  background-image: url("../images/new-window.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 12px;
  margin-right: 5px; }
  article p a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]).btn, article h1 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]).btn, article h2 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]).btn, article h3 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]).btn, article h4 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]).btn, article h5 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]).btn, article h6 a[href*="//"]:not([href*="dev.lgbtqstudies.ucla.edu"]).btn {
    background-image: none; }

/*    Accessibility
/*--------------------------------------*/
.skip {
  float: left; }

.skip:focus {
  position: static;
  width: auto;
  height: auto; }

/* ==========================================================================
   Button Styles
   ========================================================================== */
.btn, button, input[type="submit"], .page .btn, .single .btn, a.btn {
  background: #81009e;
  color: white !important;
  padding: 3px 10px;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 90px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  .btn:hover, button:hover, input[type="submit"]:hover, .btn:focus, button:focus, input[type="submit"]:focus {
    background: #ad59bf;
    color: white; }
  .btn:active, button:active, input[type="submit"]:active {
    top: 1px; }

.btn.give {
  background-image: url("../images/heart-icon.png");
  background-position: 11px center;
  background-repeat: no-repeat;
  padding: 3px 20px 3px 27px;
  margin: 0 auto;
  text-align: left;
  min-width: auto; }

.tribe-bar-submit .tribe-events-button, .tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  background-color: #81009e !important;
  color: white !important;
  padding: 3px 0 !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  min-width: 110px !important;
  display: inline-block !important;
  text-align: center !important;
  border: none !important;
  cursor: pointer !important;
  position: relative !important;
  border-radius: 15px !important;
  background-clip: padding-box !important;
  transition: background-color 0.24s ease-in-out !important;
  -webkit-transition: background-color 0.24s ease-in-out !important; }
  .tribe-bar-submit .tribe-events-button:hover, .tribe-bar-submit .tribe-events-button:focus, .tribe-events-read-more:hover, .tribe-events-read-more:focus, .tribe-events-read-more:link:hover, .tribe-events-read-more:link:focus, .tribe-events-list-widget a.btn:hover, .tribe-events-list-widget a.btn:focus {
    background-color: #ad59bf !important;
    color: white !important; }
  .tribe-bar-submit .tribe-events-button:active, .tribe-events-read-more:active, .tribe-events-read-more:link:active, .tribe-events-list-widget a.btn:active {
    top: 1px; }

.tribe-bar-submit .tribe-events-button {
  padding: 6px 0 !important;
  text-transform: none !important;
  font-size: 14px !important; }

/* ==========================================================================
   Form Styles
   ========================================================================== */
fieldset {
  border: none;
  padding: 0; }

label {
  font-weight: bold; }

input + label {
  font-weight: normal; }

form ul li ul li label {
  padding-left: 10px; }

label span {
  color: #790000;
  margin-left: 5px; }

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
  padding: 0 10px;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  height: 35px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  input[type="text"]:focus,
  input[type="text"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="datetime"]:focus,
  input[type="datetime"]:active,
  input[type="datetime-local"]:focus,
  input[type="datetime-local"]:active,
  input[type="date"]:focus,
  input[type="date"]:active,
  input[type="month"]:focus,
  input[type="month"]:active,
  input[type="time"]:focus,
  input[type="time"]:active,
  input[type="week"]:focus,
  input[type="week"]:active,
  input[type="number"]:focus,
  input[type="number"]:active,
  input[type="email"]:focus,
  input[type="email"]:active,
  input[type="url"]:focus,
  input[type="url"]:active,
  input[type="tel"]:focus,
  input[type="tel"]:active,
  input[type="color"]:focus,
  input[type="color"]:active,
  select:focus,
  select:active,
  textarea:focus,
  textarea:active,
  .field:focus,
  .field:active {
    background-color: white; }
  input[type="text"].error,
  input[type="text"].is-invalid,
  input[type="password"].error,
  input[type="password"].is-invalid,
  input[type="datetime"].error,
  input[type="datetime"].is-invalid,
  input[type="datetime-local"].error,
  input[type="datetime-local"].is-invalid,
  input[type="date"].error,
  input[type="date"].is-invalid,
  input[type="month"].error,
  input[type="month"].is-invalid,
  input[type="time"].error,
  input[type="time"].is-invalid,
  input[type="week"].error,
  input[type="week"].is-invalid,
  input[type="number"].error,
  input[type="number"].is-invalid,
  input[type="email"].error,
  input[type="email"].is-invalid,
  input[type="url"].error,
  input[type="url"].is-invalid,
  input[type="tel"].error,
  input[type="tel"].is-invalid,
  input[type="color"].error,
  input[type="color"].is-invalid,
  select.error,
  select.is-invalid,
  textarea.error,
  textarea.is-invalid,
  .field.error,
  .field.is-invalid {
    color: red;
    border-color: red;
    background-color: white;
    outline-color: red; }
  input[type="text"].success,
  input[type="text"].is-valid,
  input[type="password"].success,
  input[type="password"].is-valid,
  input[type="datetime"].success,
  input[type="datetime"].is-valid,
  input[type="datetime-local"].success,
  input[type="datetime-local"].is-valid,
  input[type="date"].success,
  input[type="date"].is-valid,
  input[type="month"].success,
  input[type="month"].is-valid,
  input[type="time"].success,
  input[type="time"].is-valid,
  input[type="week"].success,
  input[type="week"].is-valid,
  input[type="number"].success,
  input[type="number"].is-valid,
  input[type="email"].success,
  input[type="email"].is-valid,
  input[type="url"].success,
  input[type="url"].is-valid,
  input[type="tel"].success,
  input[type="tel"].is-valid,
  input[type="color"].success,
  input[type="color"].is-valid,
  select.success,
  select.is-valid,
  textarea.success,
  textarea.is-valid,
  .field.success,
  .field.is-valid {
    color: green;
    border-color: green;
    background-color: white;
    outline-color: green; }
  input[type="text"][disabled],
  input[type="text"].is-disabled,
  input[type="password"][disabled],
  input[type="password"].is-disabled,
  input[type="datetime"][disabled],
  input[type="datetime"].is-disabled,
  input[type="datetime-local"][disabled],
  input[type="datetime-local"].is-disabled,
  input[type="date"][disabled],
  input[type="date"].is-disabled,
  input[type="month"][disabled],
  input[type="month"].is-disabled,
  input[type="time"][disabled],
  input[type="time"].is-disabled,
  input[type="week"][disabled],
  input[type="week"].is-disabled,
  input[type="number"][disabled],
  input[type="number"].is-disabled,
  input[type="email"][disabled],
  input[type="email"].is-disabled,
  input[type="url"][disabled],
  input[type="url"].is-disabled,
  input[type="tel"][disabled],
  input[type="tel"].is-disabled,
  input[type="color"][disabled],
  input[type="color"].is-disabled,
  select[disabled],
  select.is-disabled,
  textarea[disabled],
  textarea.is-disabled,
  .field[disabled],
  .field.is-disabled {
    cursor: not-allowed;
    border-color: gray;
    opacity: 0.6; }
    input[type="text"][disabled]:focus,
    input[type="text"][disabled]:active,
    input[type="text"].is-disabled:focus,
    input[type="text"].is-disabled:active,
    input[type="password"][disabled]:focus,
    input[type="password"][disabled]:active,
    input[type="password"].is-disabled:focus,
    input[type="password"].is-disabled:active,
    input[type="datetime"][disabled]:focus,
    input[type="datetime"][disabled]:active,
    input[type="datetime"].is-disabled:focus,
    input[type="datetime"].is-disabled:active,
    input[type="datetime-local"][disabled]:focus,
    input[type="datetime-local"][disabled]:active,
    input[type="datetime-local"].is-disabled:focus,
    input[type="datetime-local"].is-disabled:active,
    input[type="date"][disabled]:focus,
    input[type="date"][disabled]:active,
    input[type="date"].is-disabled:focus,
    input[type="date"].is-disabled:active,
    input[type="month"][disabled]:focus,
    input[type="month"][disabled]:active,
    input[type="month"].is-disabled:focus,
    input[type="month"].is-disabled:active,
    input[type="time"][disabled]:focus,
    input[type="time"][disabled]:active,
    input[type="time"].is-disabled:focus,
    input[type="time"].is-disabled:active,
    input[type="week"][disabled]:focus,
    input[type="week"][disabled]:active,
    input[type="week"].is-disabled:focus,
    input[type="week"].is-disabled:active,
    input[type="number"][disabled]:focus,
    input[type="number"][disabled]:active,
    input[type="number"].is-disabled:focus,
    input[type="number"].is-disabled:active,
    input[type="email"][disabled]:focus,
    input[type="email"][disabled]:active,
    input[type="email"].is-disabled:focus,
    input[type="email"].is-disabled:active,
    input[type="url"][disabled]:focus,
    input[type="url"][disabled]:active,
    input[type="url"].is-disabled:focus,
    input[type="url"].is-disabled:active,
    input[type="tel"][disabled]:focus,
    input[type="tel"][disabled]:active,
    input[type="tel"].is-disabled:focus,
    input[type="tel"].is-disabled:active,
    input[type="color"][disabled]:focus,
    input[type="color"][disabled]:active,
    input[type="color"].is-disabled:focus,
    input[type="color"].is-disabled:active,
    select[disabled]:focus,
    select[disabled]:active,
    select.is-disabled:focus,
    select.is-disabled:active,
    textarea[disabled]:focus,
    textarea[disabled]:active,
    textarea.is-disabled:focus,
    textarea.is-disabled:active,
    .field[disabled]:focus,
    .field[disabled]:active,
    .field.is-disabled:focus,
    .field.is-disabled:active {
      background-color: blue; }

input[type="password"] {
  letter-spacing: 0.3em; }

input[type="submit"] {
  padding: 7px 0;
  border: none; }

input[type="search"] {
  width: 110px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  font-size: .85em;
  padding: 5px 40px 5px 10px;
  background: rgba(0, 0, 0, 0.03) url("../images/search-icon.png") no-repeat 135px center;
  font-weight: bold;
  margin-bottom: 10px; }
  input[type="search"]:focus {
    background: white url("../images/search-icon.png") no-repeat 135px center;
    -webkit-transition: background 0.24s ease-in-out;
    transition: background 0.24s ease-in-out; }

textarea {
  width: 500px;
  max-width: 640px;
  min-height: 120px;
  line-height: 1.5em;
  padding: 10px; }

select {
  width: 302px; }

select[multiple="multiple"] {
  height: 100px;
  padding: 10px; }

form li {
  list-style: none;
  margin: 10px 0; }

form ul li ul li {
  list-style: none;
  margin: 0; }

.validation_error {
  font-weight: bold;
  padding: 10px;
  border: 2px solid #790000;
  border-radius: 5px;
  text-align: center; }

.validation_message {
  font-style: italic; }

/*    E V E N T S
/*--------------------------------------*/
.post-type-archive-tribe_events .col {
  float: none;
  width: 100%; }

.tribe-bar-submit {
  float: right !important;
  width: 140px;
  margin: 1px 20px 0 0; }

.tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  padding: 3px 0 !important; }

.tribe-bar-submit .tribe-events-button {
  margin-top: 10px !important; }

#tribe-events, #tribe-events-content.tribe-events-month {
  width: 940px;
  margin: 0 auto; }

#tribe-events-content {
  width: 640px;
  margin: 0 auto; }

.tribe-events-venue-details {
  font-weight: normal; }

.tribe-events-list .vevent.hentry {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 2px; }

.tribe-events-schedule {
  margin: 0 !important; }
  .tribe-events-schedule p {
    margin-top: 0; }

#tribe-bar-views select, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  background-color: #eee !important; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
  background-color: #e0e0e0 !important; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
  background-color: #e0e0e0 !important; }

.tribe-events-list-widget .duration {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5em;
  font-size: .85em; }

.tribe-events-list-widget .duration span {
  display: inline;
  font-weight: bold;
  padding: 0;
  margin: 0; }

.tribe-events-list-widget .tribe-events-widget-link {
  padding-left: 0; }

.tribe-events-list-widget ol li {
  margin-bottom: 20px; }

#tribe-bar-form {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0 0 0 20px; }
  #tribe-bar-form label {
    font-size: 1em;
    margin-top: 5px; }
  #tribe-bar-form input[type="text"] {
    font-weight: normal; }

/*    S L I D E R
/*--------------------------------------*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 5px;
  padding: 0;
  *zoom: 1;
  float: left;
  clear: both; }

#bxslider {
  margin-top: 0; }

#slider {
  width: 100%;
  float: left;
  clear: both;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  margin: 0 0 40px 0; }
  #slider li {
    height: 440px;
    margin: 0 0 0 0;
    list-style: none;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: relative;
    -webkit-box-shadow: inset 0px -40px 80px 60px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -40px 80px 60px rgba(0,0,0,0.5);
    box-shadow: inset 0px -40px 80px 60px rgba(0,0,0,0.5); }
  #slider .content {
    margin: 0 auto; }
  #slider .slider-content {
    color: white !important;
    font-weight: normal;
    width: 460px;
    padding: 0px 20px;
    max-height: 150px;
    position: absolute;
    bottom: 10px;
    right: 20%;
    text-align: right;
    text-shadow: #000 0px 1px 8px; }
    #slider .slider-content h2 {
      color: white !important;
      display: inline-block;
      border-top: #ad59bf solid 5px;
      padding: 5px; }
    #slider .slider-content p {
      display: block;
      font-size: 16px;
      line-height: 18px;
      font-style: italic; }

/* Direction Controls (Next / Prev) */
.bx-wrapper .bx-prev {
  left: 50px;
  background: url(../images/arrow-left.png) no-repeat; }
  .bx-wrapper .bx-prev:hover {
    background: url(../images/arrow-left-light.png) no-repeat; }

.bx-wrapper .bx-next {
  right: 50px;
  background: url(../images/arrow-right.png) no-repeat; }
  .bx-wrapper .bx-next:hover {
    background: url(../images/arrow-right-light.png) no-repeat; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 34px;
  height: 58px;
  z-index: 9999;
  text-indent: -9999px; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* Pager */
.bx-pager {
  color: rgba(0, 0, 0, 0.6);
  padding-top: 0px;
  margin-top: -30px;
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: right; }

.bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-pager-link {
  overflow: hidden; }

.bx-pager.bx-default-pager a {
  background: none;
  text-indent: 9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
  border: 1px white solid; }

.bx-pager a:hover,
.bx-pager a.active {
  background: #ad59bf; }

/* ==========================================================================
   Main Styles - Desktop
   ========================================================================== */
/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/
#container {
  background: white; }

.content, header {
  width: 940px;
  margin: 0 auto; }

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  float: left;
  clear: both;
  margin: 0 0 13px 0;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14); }

.col {
  width: 640px;
  float: left; }

.col + .col {
  width: 280px;
  margin: 10px 0 30px 20px; }

section {
  padding: 15px 0; }

/*    H O M E  P A G E
/*--------------------------------------*/
.home #hero {
  height: 438px;
  margin: 0 0 40px 0; }
  .home #hero .content {
    width: 100%;
    height: 438px;
    -webkit-box-shadow: inset 0px -40px 80px 60px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -40px 80px 60px rgba(0,0,0,0.5);
    box-shadow: inset 0px -40px 80px 60px rgba(0,0,0,0.5); }
  .home #hero .hero-description {
    font-style: italic;
    color: white;
    text-align: right;
    width: 580px;
    max-height: 150px;
    padding: 350px 0 0 360px;
    margin: 0 auto;
    text-shadow: #000 0px 1px 8px; }
    .home #hero .hero-description h2 {
      color: white !important;
      display: inline-block;
      border-top: #ad59bf solid 5px;
      padding: 5px 0px 0px 0px; }
    .home #hero .hero-description p {
      display: block;
      font-size: 16px;
      line-height: 18px;
      font-style: italic;
      margin-top: 0px; }
  .home #hero.mobile-hero {
    display: none; }

.home .col:nth-of-type(1) {
  width: 300px !important; }

.home .col {
  float: left; }
  .home .col ul {
    margin-top: 0; }
  .home .col li {
    list-style: none;
    margin-left: 0; }
  .home .col p, .home .col span.description {
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 1.5em;
    font-size: 1em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    display: block; }
  .home .col.one {
    width: 220px;
    padding: 0; }
  .home .col.two {
    width: 620px; }
  .home .col.news-col .news-item p {
    color: rgba(0, 0, 0, 0.87);
    font-weight: normal; }
  .home .col.news-col li {
    padding: 0 0 5px 0;
    clear: both; }
    .home .col.news-col li .post-date {
      font-weight: bold;
      display: inline-block;
      padding-right: 5px;
      margin-right: 5px;
      border-right: 1px solid rgba(0, 0, 0, 0.12); }
  .home .col.news-col .btn {
    margin-top: -5px; }
  .home .col.news-col.one .news-item {
    float: right;
    width: auto; }
  .home .col.news-col.two .news-item {
    float: right;
    width: 490px; }
  .home .col.news-col.two img {
    margin-top: 3px; }
  .home .col.news-col.two .btn {
    margin-left: 130px; }

.home .col + .col {
  margin: 0 0 0 20px;
  background-color: white; }
  .home .col + .col li {
    padding: 0; }

/*    H E A D E R
/*--------------------------------------*/
header {
  padding: 35px 0 0 0; }
  header.top h1, header.top h2 {
    width: 565px;
    display: inline-block;
    margin: 0;
    text-align: center;
    border: none; }
  header .dept-logo {
    width: 530px;
    height: 84px; }
  header nav {
    clear: both;
    float: left; }
  header nav.mobile {
    display: none; }
  header nav ul {
    width: 760px; }
  header .search {
    float: right;
    clear: right;
    margin-top: 15px;
    background-color: #f2f2f2; }
  header .give-back {
    width: 130px;
    text-align: center;
    float: right;
    margin-top: 20px; }
    header .give-back span {
      font-size: .85em;
      display: block; }
  header .university-logo {
    float: left;
    margin-top: 20px;
    width: 155px;
    height: 50px; }

.breadcrumbs {
  width: 100%;
  float: left;
  clear: both;
  color: rgba(0, 0, 0, 0.6);
  font-size: .85em;
  padding: 8px 0;
  margin-bottom: 40px;
  border-bottom: rgba(0, 0, 0, 0.12) 2px solid; }
  .breadcrumbs img {
    margin: 0;
    padding: 0; }
  .breadcrumbs ul {
    margin: 0;
    padding: 0;
    clear: both;
    float: left; }
  .breadcrumbs li {
    float: left;
    display: inline-block;
    padding: 0 0 0px 10px;
    margin: 0; }
  .breadcrumbs li + li {
    margin: 0 0 0 5px;
    background: url("../images/arrow.png") no-repeat left center; }
  .breadcrumbs a {
    font-weight: bold;
    color: #ad59bf;
    text-decoration: underline; }

/*    N A V I G A T I O N
/*--------------------------------------*/
header nav.desktop ul, footer nav ul {
  padding: 0;
  margin: 0;
  float: left; }

header nav.desktop ul li, footer nav ul li {
  display: inline-block;
  margin: 0 10px 0 0; }

header.top {
  width: auto !important; }
  header.top .nav-search {
    min-height: 54px;
    background: #000;
    margin-top: 32px;
    padding: 0px;
    position: relative;
    clear: both; }
    header.top .nav-search nav.desktop ul li {
      position: relative;
      padding: 15px 10px;
      margin: 0px -2px;
      max-height: 24px; }
      header.top .nav-search nav.desktop ul li ul li {
        max-height: none; }
    header.top .nav-search nav.desktop ul li:nth-child(1), header.top .nav-search nav.desktop ul li:nth-child(1) ul.sub-menu {
      background-color: #e40206; }
      header.top .nav-search nav.desktop ul li:nth-child(1) li, header.top .nav-search nav.desktop ul li:nth-child(1) ul.sub-menu li {
        background: none !important;
        padding: 5px 15px; }
    header.top .nav-search nav.desktop ul li:nth-child(2), header.top .nav-search nav.desktop ul li:nth-child(2) ul.sub-menu {
      background-color: #f78e0a; }
      header.top .nav-search nav.desktop ul li:nth-child(2) li, header.top .nav-search nav.desktop ul li:nth-child(2) ul.sub-menu li {
        background: none !important;
        padding: 5px 15px; }
    header.top .nav-search nav.desktop ul li:nth-child(3), header.top .nav-search nav.desktop ul li:nth-child(3) ul.sub-menu {
      background-color: #edc919; }
      header.top .nav-search nav.desktop ul li:nth-child(3) li, header.top .nav-search nav.desktop ul li:nth-child(3) ul.sub-menu li {
        background: none !important;
        padding: 5px 15px; }
    header.top .nav-search nav.desktop ul li:nth-child(4), header.top .nav-search nav.desktop ul li:nth-child(4) ul.sub-menu {
      background-color: #4aca5f; }
      header.top .nav-search nav.desktop ul li:nth-child(4) li, header.top .nav-search nav.desktop ul li:nth-child(4) ul.sub-menu li {
        background: none !important;
        padding: 5px 15px; }
    header.top .nav-search nav.desktop ul li:nth-child(5), header.top .nav-search nav.desktop ul li:nth-child(5) ul.sub-menu {
      background-color: #0093cf; }
      header.top .nav-search nav.desktop ul li:nth-child(5) li, header.top .nav-search nav.desktop ul li:nth-child(5) ul.sub-menu li {
        background: none !important;
        padding: 5px 15px; }
    header.top .nav-search nav.desktop ul li:nth-child(6), header.top .nav-search nav.desktop ul li:nth-child(6) ul.sub-menu {
      background-color: #b30071; }
      header.top .nav-search nav.desktop ul li:nth-child(6) li, header.top .nav-search nav.desktop ul li:nth-child(6) ul.sub-menu li {
        background: none !important;
        padding: 5px 15px; }
    header.top .nav-search nav.desktop ul li:nth-child(7), header.top .nav-search nav.desktop ul li:nth-child(7) ul.sub-menu {
      background-color: #3f005e; }
      header.top .nav-search nav.desktop ul li:nth-child(7) li, header.top .nav-search nav.desktop ul li:nth-child(7) ul.sub-menu li {
        background: none !important;
        padding: 5px 15px; }
    header.top .nav-search nav.desktop ul li:nth-child(8), header.top .nav-search nav.desktop ul li:nth-child(8) ul.sub-menu {
      background-color: #e40206; }
      header.top .nav-search nav.desktop ul li:nth-child(8) li, header.top .nav-search nav.desktop ul li:nth-child(8) ul.sub-menu li {
        background: none !important;
        padding: 5px 15px; }
    header.top .nav-search nav.desktop ul li:nth-child(1):hover, header.top .nav-search nav.desktop ul li:nth-child(1) ul.sub-menu li:hover {
      background-color: #cd0105 !important; }
    header.top .nav-search nav.desktop ul li:nth-child(2):hover, header.top .nav-search nav.desktop ul li:nth-child(2) ul.sub-menu li:hover {
      background-color: #de7f09 !important; }
    header.top .nav-search nav.desktop ul li:nth-child(3):hover, header.top .nav-search nav.desktop ul li:nth-child(3) ul.sub-menu li:hover {
      background-color: #d5b416 !important; }
    header.top .nav-search nav.desktop ul li:nth-child(4):hover, header.top .nav-search nav.desktop ul li:nth-child(4) ul.sub-menu li:hover {
      background-color: #42b555 !important; }
    header.top .nav-search nav.desktop ul li:nth-child(5):hover, header.top .nav-search nav.desktop ul li:nth-child(5) ul.sub-menu li:hover {
      background-color: #0084ba !important; }
    header.top .nav-search nav.desktop ul li:nth-child(6):hover, header.top .nav-search nav.desktop ul li:nth-child(6) ul.sub-menu li:hover {
      background-color: #a10065 !important; }
    header.top .nav-search nav.desktop ul li:nth-child(7):hover, header.top .nav-search nav.desktop ul li:nth-child(7) ul.sub-menu li:hover {
      background-color: #65327e !important; }
    header.top .nav-search nav.desktop ul li:nth-child(8):hover, header.top .nav-search nav.desktop ul li:nth-child(8) ul.sub-menu li:hover {
      background-color: #cd0105 !important; }

/* Drop Down */
header nav.desktop {
  /*ul li.menu-item-has-children {
		background: url('../images/nav-arrow.png') no-repeat 95% center;
		padding-right: 10px;
	} */ }
  header nav.desktop ul li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 170px;
    top: 49px;
    left: 0px;
    margin-top: 5px;
    z-index: 10000;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
    -webkit-transition: all 0.24s ease-in-out;
    transition: all 0.24s ease-in-out; }
  header nav.desktop ul li ul li, header nav.desktop ul li ul li a {
    display: block;
    margin: 0; }
  header nav.desktop ul li ul li a {
    line-height: 1em;
    padding: 6px 0; }
  header nav.desktop ul li:hover ul, header nav.desktop .sub-menu.open {
    display: block;
    opacity: 1;
    visibility: visible; }
  header nav.desktop ul li.menu-item-has-children:after {
    content: '\25BC';
    font-size: 8px;
    padding-left: 2px;
    position: relative;
    top: -2px; }
  header nav.desktop ul li ul li.menu-item-has-children {
    background: none; }
  header nav.desktop a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: 0.04em; }
  header nav.desktop a, header nav.desktop a:link, header nav.desktop ul li.menu-item-has-children:after {
    color: white;
    -webkit-transition: all 0.24s ease-in-out;
    transition: all 0.24s ease-in-out; }
  header nav.desktop a:hover, header nav.desktop a:focus, header nav.desktop a:active, header nav.desktop ul li:hover.menu-item-has-children:after {
    color: rgba(255, 255, 255, 0.75); }

/* Side Menu */
.col.side {
  width: 220px;
  margin-left: 80px; }
  .col.side .content {
    width: 220px; }
  .col.side li {
    list-style: none;
    margin-left: 0;
    line-height: 1.2em; }
  .col.side ol, .col.side ul {
    margin-bottom: 25px; }
  .col.side nav.page-nav ul {
    padding: 0;
    margin: 0; }
  .col.side .widget_recent_entries li {
    margin-bottom: 10px; }
  .col.side .btn {
    margin-bottom: 40px; }
  .col.side .sub-menu {
    display: none; }
  .col.side .current_page_item .sub-menu,
  .col.side .current_page_parent .sub-menu {
    display: block;
    margin: 0 0 0 20px; }
  .col.side .sub-menu li:before {
    content: "•";
    color: #81009e;
    font-size: 1.5em;
    padding-right: 5px; }

.col-nav {
  width: 220px; }
  .col-nav li {
    list-style: none;
    margin-left: 0;
    line-height: 1.5em; }
  .col-nav ul + h3 {
    margin-top: 40px; }

/*    F O O T E R
/*--------------------------------------*/
footer {
  clear: both;
  margin-top: 60px;
  float: left;
  width: 100%;
  padding: 35px 0 40px 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  line-height: 1.5em;
  border-top: rgba(0, 0, 0, 0.12) 4px solid;
  /* Footer Nav */ }
  footer nav a, footer nav a:link, footer nav a:visited {
    color: #ad59bf;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: 1px;
    text-decoration: underline; }
  footer nav ul.footer-nav {
    clear: left;
    float: left;
    margin-right: 50px; }
  footer nav ul.social-links {
    clear: right;
    float: right; }
  footer nav .icon {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle; }
    footer nav .icon img {
      width: auto;
      height: 21px; }
    footer nav .icon .email {
      height: 18px; }
  footer .search-form {
    display: none; }
  footer .copyright {
    padding-top: 50px;
    font-size: .85em; }
    footer .copyright .university-logo img {
      float: left;
      width: 70px;
      height: 70px; }
    footer .copyright p {
      float: left;
      margin: 0 0 0 20px; }
    footer .copyright span {
      margin: 0 5px; }
    footer .copyright a, footer .copyright a:link, footer .copyright a:visited {
      color: #ad59bf;
      text-transform: none;
      text-decoration: underline; }

/*    P E R S O N  P A G E
/*--------------------------------------*/
.single-people .details span {
  display: inline-block; }

.single-people .details span + span {
  margin-left: 20px; }

.single-people .details p {
  margin-top: 0px; }

.single-people .col + .col {
  margin-top: 0; }

.single-people article header {
  padding: 0; }
  .single-people article header img {
    display: none; }

.single-people .bio {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 20px; }

.single-people .col-nav ul {
  margin-bottom: 40px; }

.single-people .photo {
  width: 280px;
  height: 280px;
  margin-bottom: 10px;
  background-color: #347bad; }

.single-people .circle {
  border-radius: 140px; }

.single-people .rounded {
  border-radius: 70px; }

.link {
  background: url("../images/link-icon.png") no-repeat left center;
  padding-left: 18px; }

.download {
  background: url("../images/download-icon.png") no-repeat left center;
  padding-left: 18px; }

.btn.download {
  background-image: none; }

.btn.download:before {
  content: url("../images/download-icon-wht.png");
  padding-right: 5px; }

/*    P E O P L E  A R C H I V E
/*--------------------------------------*/
/* Filters */
.tax-people_cat .main header {
  text-align: center; }

.filter {
  clear: both;
  float: left;
  margin: 20px 0;
  width: 100%; }
  .filter ul {
    padding: 0; }
  .filter li {
    list-style: none;
    display: inline-block;
    margin: 0 5px; }

.button-group {
  width: 100%;
  float: left; }
  .button-group button {
    margin-right: 5px;
    min-width: 124px;
    letter-spacing: 0px;
    letter-spacing: 0px; }
  .button-group button.all {
    min-width: 100px;
    margin-right: 10px; }

/* People List */
.people-list {
  margin-top: 40px;
  padding: 0 9px;
  clear: both; }
  .people-list ul {
    margin: 30px 0;
    padding: 0; }
  .people-list li {
    list-style: none; }
  .people-list .person-item {
    display: block;
    float: left;
    padding: 15px 10px;
    margin: 0px;
    width: 210px;
    height: 280px;
    text-align: center;
    line-height: 1.3em;
    -webkit-transition: background-color 0.24s ease-in-out;
    transition: background-color 0.24s ease-in-out; }
    .people-list .person-item a {
      display: block; }
      .people-list .person-item a:hover .name {
        color: #81009e;
        text-decoration: underline; }
      .people-list .person-item a:hover .photo {
        border: 7px solid #dadada;
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        -ms-filter: grayscale(70%);
        filter: grayscale(70%);
        opacity: 0.9;
        filter: alpha(opacity=90); }
    .people-list .person-item:active,
    .people-list .person-item:hover,
    .people-list .person-item:focus {
      background-color: rgba(0, 0, 0, 0.03); }
    .people-list .person-item .photo {
      border: 7px solid white;
      width: 150px;
      height: 150px;
      background-color: #347bad; }
    .people-list .person-item .circle {
      border-radius: 100px; }
    .people-list .person-item .rounded {
      border-radius: 25px; }
    .people-list .person-item .name {
      font-size: 1.2em;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.87);
      letter-spacing: 1px; }
    .people-list .person-item .interest {
      font-size: .85em;
      color: rgba(0, 0, 0, 0.87);
      line-height: 1em; }
    .people-list .person-item .position {
      color: #cb7932;
      font-style: italic;
      margin-bottom: 10px; }
    .people-list .person-item .email, .people-list .person-item .office, .people-list .person-item .office-hours, .people-list .person-item .phone {
      font-size: .85em;
      margin: 0; }
    .people-list .person-item .email a {
      font-size: 1em;
      display: inline-block; }

/* Grad Student Page */
/* Staff */
.term-staff .people-list li:hover {
  background: none; }

.term-staff .people-list .name {
  color: rgba(0, 0, 0, 0.87); }

.term-staff .people-list .position {
  margin-top: 10px; }

/*    B O O K S
/*--------------------------------------*/
/* General Styles */
.cover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  border: 3px solid white; }

.custom-cover {
  background-color: #b4b4b4;
  margin: 0 auto 0 auto; }
  .custom-cover .title {
    color: white;
    font-weight: bold;
    text-align: center;
    display: block; }

.publisher {
  display: block; }

.book-list .title {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px; }

.book-list dd.publisher {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px; }

.book-list dd.author a {
  display: block;
  font-size: .85em;
  line-height: 16px; }

/* People Page */
.single-people .book-list {
  float: left; }
  .single-people .book-list img, .single-people .book-list .custom-cover {
    float: left; }
  .single-people .book-list .custom-cover {
    width: 50px;
    height: 60px;
    padding: 20px 5px 10px 5px; }
    .single-people .book-list .custom-cover .title {
      font-size: .42em;
      line-height: 1em; }
  .single-people .book-list li {
    float: left;
    margin: 0 0 20px 0;
    list-style: none;
    display: inline-block;
    width: 320px; }
  .single-people .book-list dl {
    margin-left: 15px;
    float: left;
    clear: none;
    width: 225px; }
  .single-people .book-list dt.title {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px; }
  .single-people .book-list dd {
    margin-bottom: 0px; }
  .single-people .book-list dd.publisher {
    font-size: 12px;
    line-height: 12px;
    margin: 10px 0; }
  .single-people .book-list dd.author a {
    display: block;
    font-size: .85em;
    line-height: 16px; }
  .single-people .book-list dd.subtitle {
    font-style: italic;
    line-height: .85em; }

/* Book Page */
.single-books .publisher {
  display: block;
  font-size: .85em;
  font-style: italic; }

.single-books .author {
  margin-top: 20px;
  display: block; }

.single-books .author p {
  display: inline; }

.single-books .author-name + .author-name {
  background: url("../images/comma.jpg") no-repeat left 9px;
  padding-left: 10px;
  margin-left: -2px; }

.single-books .custom-cover {
  width: 244px;
  height: 313px;
  line-height: 24px;
  padding: 60px 15px 10px 15px; }
  .single-books .custom-cover .title {
    font-size: 24px; }

.single-books .content header {
  width: 100%; }
  .single-books .content header .cover {
    display: none; }

/* Book Archive */
.post-type-archive-books h1 {
  text-align: center; }

.post-type-archive-books .book-list {
  margin-top: 40px;
  clear: both; }
  .post-type-archive-books .book-list ul {
    padding: 0; }
  .post-type-archive-books .book-list li {
    display: block;
    padding: 15px 10px;
    margin: 0 10px;
    width: 195px;
    height: 280px;
    text-align: center;
    float: left; }
  .post-type-archive-books .book-list .custom-cover {
    width: 91px;
    height: 127px;
    line-height: 9px;
    padding: 20px 5px 10px 5px;
    margin-bottom: 12px; }
    .post-type-archive-books .book-list .custom-cover .title {
      font-size: 9px; }
  .post-type-archive-books .book-list dt.title {
    font-size: 1em;
    line-height: 1em;
    margin: 5px 0; }
  .post-type-archive-books .book-list dd.publisher {
    font-size: .85em;
    line-height: .85em;
    margin-bottom: 5px; }
  .post-type-archive-books .book-list dd.author a {
    display: block;
    font-size: .85em;
    line-height: 1.14em; }
  .post-type-archive-books .book-list a {
    text-decoration: none; }

/*    A R T I C L E S
/*--------------------------------------*/
.category article, .search-results article, .archive article {
  padding-bottom: 40px; }

.category article + article, .search-results article + article, .archive article + article {
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  padding-top: 20px; }

.publish-date {
  margin-top: 0;
  margin-bottom: 20px;
  display: block; }

/*    L E C T U R E  S E R I E S
/*--------------------------------------*/
.category article, .archive article {
  padding-bottom: 40px; }

.category .lecture-series-list article, .category .conferences-list article, .archive .lecture-series-list article, .archive .conferences-list article {
  width: 48%;
  float: left;
  min-height: 135px; }

.category .lecture-series-list article:nth-of-type(even), .category .conferences-list article:nth-of-type(even), .archive .lecture-series-list article:nth-of-type(even), .archive .conferences-list article:nth-of-type(even) {
  margin-left: 20px; }

.category .lecture-series-list article + article, .category .conferences-list article + article, .archive .lecture-series-list article + article, .archive .conferences-list article + article {
  border-top: none;
  padding-top: 0px; }

.category .lecture-series-list article + article + article, .category .conferences-list article + article + article, .archive .lecture-series-list article + article + article, .archive .conferences-list article + article + article {
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  padding-top: 20px; }

.publish-date {
  margin-top: 0;
  margin-bottom: 20px;
  display: block; }

/*    T A B L E S
/*--------------------------------------*/
td, th {
  padding: 5px; }

th {
  background-color: #f9b071; }

tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.03); }

tr:hover td {
  background-color: rgba(0, 0, 0, 0.06); }

td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12); }

/*    O T H E R
/*--------------------------------------*/
.alignleft {
  float: left;
  margin: 0 15px 15px 0; }

.alignright {
  float: right;
  margin: 0 0 15px 15px; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pagination li {
  display: inline-block; }

.pagination {
  text-align: center;
  margin-top: 40px; }

.instructors {
  display: block;
  margin-bottom: -20px; }

figure {
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
  background-color: #fafafa;
  border: 2px solid #e5e5e5; }

/* FAQ */
dl.faq dt.question {
  background: white url("../images/inactive-arrow.png") no-repeat left 10px;
  padding-left: 15px;
  cursor: pointer; }

dl.faq dt.active {
  background: white url("../images/active-arrow.png") no-repeat left 10px; }

dl.faq dd {
  margin-left: 15px; }

dl.faq dd > p {
  margin-top: 10px; }

/* Galleries */
.gallery .gallery-item {
  display: inline-block;
  vertical-align: top; }

.gallery .gallery-item + .gallery-item {
  margin-left: 10px; }

.gallery .gallery-caption {
  max-width: 150px;
  line-height: 16px;
  font-size: 12px;
  font-style: italic; }

.gallery .gallery-icon {
  min-height: 160px; }

#fancybox-close {
  right: -40px !important; }

#fancybox-right {
  right: -25px !important; }

#fancybox-right:hover span {
  left: auto;
  right: 10px; }

#fancybox-left:hover span {
  left: 10px; }

.color-block {
  width: 103px;
  height: 103px;
  float: left;
  text-align: center;
  line-height: 7em;
  margin: 0 1px; }

.light-primary {
  background: #f9b071; }

.primary {
  background: #f8943d; }

.dark-primary {
  background: #cb7932; }

.light-secondary {
  background: #ad59bf; }

.secondary {
  background: #81009e; }

.dark-secondary {
  background: #430052; }

.light {
  color: white; }

@media only screen and (max-width: 960px) {
  /* ==========================================================================
   Mobile Screen Sizes
   ========================================================================== */
  /*    M A I N  C O N T A I N E R S
/*--------------------------------------*/
  body {
    font-size: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; }
  .content, header {
    margin: 0 auto;
    float: none;
    width: 100%; }
  .col, #main-content .content {
    width: 95% !important;
    margin: 0 auto;
    float: none; }
  #main-content {
    margin-bottom: 30px; }
  /*    H O M E  P A G E
/*--------------------------------------*/
  #hero {
    display: none; }
  #hero.mobile-hero {
    display: block; }
  .home #hero {
    display: block;
    height: 30%;
    margin: 0 0 40px 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14); }
    .home #hero .content {
      width: 100%;
      height: 120px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    .home #hero .hero-description {
      display: none; }
  .home .col.one {
    width: 100% !important; }
  .home .col {
    width: 100% !important;
    float: left;
    margin: 0 auto 30px auto; }
    .home .col ul, .home .col ol {
      float: left;
      clear: both;
      width: 100%; }
    .home .col.news-col ul {
      margin-bottom: 0; }
    .home .col.news-col li {
      padding: 0;
      margin: 0;
      clear: both;
      list-style: none; }
      .home .col.news-col li .news-item {
        float: none;
        width: 100% !important; }
    .home .col img {
      display: none; }
    .home .col p, .home .col span.description {
      padding: 0;
      margin: 0 0 20px 0;
      line-height: 1.5em;
      font-size: 1em;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.87);
      display: block; }
    .home .col.news-col .btn {
      margin-top: -5px; }
  .home .col + .col {
    width: 100% !important;
    margin: 0 auto 30px auto;
    background-color: white;
    padding: 0; }
    .home .col + .col li {
      padding: 0;
      border: none; }
  .home .news-col .btn {
    margin-left: 0; }
  .home .events-col ul {
    margin: 0 auto 30px auto; }
  /*    S L I D E R
/*--------------------------------------*/
  .bx-wrapper {
    height: 150px !important;
    width: 100%;
    margin: 0 auto 0px; }
  #bxslider {
    margin-top: 0; }
  #slider {
    width: 100%; }
    #slider li {
      height: 150px;
      margin: 0;
      width: 100%; }
    #slider .content {
      width: 100% !important; }
    #slider .slider-content {
      background: black;
      width: 100%;
      padding: 0px;
      max-height: 150px;
      bottom: 0px;
      border-left: none; }
      #slider .slider-content h2 {
        font-size: 1em;
        color: white;
        padding: 5px 10px; }
      #slider .slider-content p {
        display: none; }
  /* Direction Controls (Next / Prev) */
  .bx-wrapper .bx-prev {
    left: 10px;
    background: url(../images/mobile-arrow-left.png) no-repeat; }
    .bx-wrapper .bx-prev:hover {
      background: url(../images/mobile-arrow-left-light.png) no-repeat; }
  .bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/mobile-arrow-right.png) no-repeat; }
    .bx-wrapper .bx-next:hover {
      background: url(../images/mobile-arrow-right-light.png) no-repeat; }
  .bx-wrapper .bx-controls-direction a {
    width: 23px;
    height: 40px; }
  /* Pager */
  .bx-pager {
    width: 30%;
    margin-right: 5px;
    float: right; }
    .bx-pager a:hover, .bx-pager a.active {
      background: #ad59bf; }
  header .university-logo,
  .give-back,
  header .search-form {
    display: none !important; }
  /*    H E A D E R
/*--------------------------------------*/
  header {
    padding: 10px 0 10px 0; }
    header.top h1, header.top h2 {
      width: 90% !important;
      display: inline-block;
      margin: 0;
      text-align: center; }
    header .dept-logo {
      width: 100%;
      max-width: 581px;
      height: auto; }
    header nav {
      float: none; }
  .breadcrumbs {
    margin-bottom: 20px; }
    .breadcrumbs .content {
      width: 95%; }
  /*    N A V I G A T I O N
/*--------------------------------------*/
  header nav.mobile {
    display: block;
    padding: 0;
    margin: -55px 0 0 0; }
  header nav.desktop, header .nav-search.desktop {
    display: none; }
  header nav ul {
    padding: 0;
    margin: 0;
    float: none;
    width: 100%; }
  header nav ul li {
    display: block;
    margin: 0; }
  header nav ul li {
    position: relative; }
  /* Secondary Navigaion */
  .col.side .content {
    width: 100%;
    margin: 0 auto;
    float: none; }
  .col.side.feed {
    width: 95% !important;
    margin: 0 auto; }
  .col + .col {
    width: 100% !important;
    margin: 0 auto; }
    .col + .col nav.page-nav h3 {
      border-bottom: none;
      margin-bottom: 0;
      margin-left: 10px; }
    .col + .col nav.page-nav a {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding: 10px;
      display: block; }
    .col + .col nav.page-nav a:hover {
      background-color: rgba(0, 0, 0, 0.03); }
  /*    S L I C K N A V  1 . 0 . 3
/*--------------------------------------*/
  .slicknav_btn {
    display: block;
    float: right;
    cursor: pointer;
    padding: 10px; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }
  .slicknav_menu {
    *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: left; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.25);
    box-shadow: 0 1px 0 rgba(0,0,0,.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }
  .slicknav_nav li {
    display: block; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 3px 0 0 0;
    float: right; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
  .slicknav_nav .slicknav_item a {
    display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block;
    padding: 10px; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }
  .slicknav_menu, .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #222;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #222; }
  .slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
  .slicknav_nav {
    color: #fff;
    margin: 50px 0 0 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .slicknav_nav ul {
    list-style: none;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0; }
  .slicknav_nav li:hover {
    background: rgba(0, 0, 0, 0.03); }
  .slicknav_nav li {
    margin: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .slicknav_nav ul.sub-menu li {
    border: none !important;
    padding-left: 15px; }
  .slicknav_nav ul.sub-menu li a {
    padding: 5px; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  /*    F O O T E R
/*--------------------------------------*/
  footer {
    margin-top: 0px; }
    footer nav {
      display: none; }
    footer .copyright {
      padding-top: 10px;
      width: 95%;
      margin: 0 auto; }
      footer .copyright p {
        margin: 0;
        width: 75%;
        clear: none;
        margin-left: 15px; }
    footer .search-form {
      width: 100%;
      margin: 0 auto 10px auto;
      display: block; }
    footer input[type="search"] {
      float: none;
      clear: none;
      margin: 0 auto;
      color: rgba(0, 0, 0, 0.87);
      width: 100%;
      max-width: 280px;
      padding: 5px 10px 5px 10px;
      background: white;
      display: block; }
  /*    A R T I C L E S
/*--------------------------------------*/
  .category article, .search-results article {
    padding: 30px 0; }
  /*    P E O P L E  A R C H I V E
/*--------------------------------------*/
  /* Filters */
  .filter, .filter-title {
    display: none; }
  .archive .content header {
    text-align: left;
    width: 95%;
    margin: 0 auto; }
  /* People List */
  .people-list {
    margin: 20px auto 0 auto;
    padding: 0;
    width: 100%; }
    .people-list ul {
      margin: 0;
      padding: 0; }
  .people-list .person-item {
    float: none !important;
    padding: 15px 0;
    width: 100%;
    height: auto;
    text-align: left; }
    .people-list .person-item .photo {
      float: left;
      margin: 0 15px; }
    .people-list .person-item dl {
      min-height: 107px;
      padding-top: 10px;
      margin-right: 10px; }
  /*    P E R S O N  P A G E
/*--------------------------------------*/
  .single-people .details span {
    display: block; }
  .single-people .details span + span {
    margin-left: 0; }
  .single-people .details p {
    margin-top: 0px; }
  .single-people article header {
    text-align: center; }
    .single-people article header img {
      display: block; }
    .single-people article header h1 {
      margin-bottom: 15px; }
  .single-people .col + .col {
    margin-top: 0;
    width: 95% !important; }
    .single-people .col + .col img {
      display: none; }
    .single-people .col + .col .table-of-contents {
      display: none; }
  .single-people .photo {
    margin: 0 auto 25px auto; }
  /*    B O O K S
/*--------------------------------------*/
  /* People Page */
  .single-people .book-list {
    float: none; }
    .single-people .book-list img, .single-people .book-list .custom-cover {
      float: left;
      margin-right: 15px; }
    .single-people .book-list li {
      float: left;
      width: 100%;
      display: block; }
    .single-people .book-list dl {
      margin-left: 15px;
      float: none;
      clear: none;
      width: auto; }
    .single-people .book-list dt.title {
      font-size: 1em; }
    .single-people .book-list dd.subtitle {
      font-size: .85em; }
  /* Book Page */
  .single-books .content header .cover {
    display: block;
    margin: 15px auto;
    width: 190px;
    height: auto; }
  .single-books .content header .custom-cover.cover {
    width: 160px;
    height: 205px; }
  .single-books .content header .custom-cover .title {
    font-size: 1.2em;
    line-height: 1em;
    text-align: center; }
  .single-books .col + .col .cover {
    display: none; }
  .single-books .author {
    margin: 0 0 15px 0; }
  /* Book Archive */
  .post-type-archive-books .content header {
    width: 95%; }
  .post-type-archive-books .book-list {
    margin-top: 20px;
    clear: both; }
    .post-type-archive-books .book-list li {
      padding: 15px 0;
      margin: 0 auto;
      width: 95%;
      height: auto;
      text-align: left;
      float: none;
      clear: both; }
    .post-type-archive-books .book-list .custom-cover, .post-type-archive-books .book-list img {
      float: left;
      margin-right: 15px; }
  /*    E V E N T S
/*--------------------------------------*/
  #tribe-events, #tribe-events-content.tribe-events-month {
    width: 100%;
    margin: 0 auto; }
  #tribe-events-content {
    width: 100%;
    margin: 0 auto; }
  #tribe-events-pg-template {
    width: 95%;
    padding: 40px 0 0 0 !important; }
  .tribe-events-sub-nav {
    margin-top: 15px !important; }
  .tribe-events-last {
    padding-bottom: 0 !important; }
  .post-type-archive-tribe_events .col {
    width: 100%; }
  .post-type-archive-tribe_events #tribe-events {
    margin-top: 20px !important; }
  .datepicker thead th {
    border-radius: 0 !important; }
  #tribe-bar-form {
    padding: 0 !important; }
  .tribe-events-schedule {
    margin: 15px 0 !important; }
    .tribe-events-schedule p {
      margin: 0; }
  /*    F O R M S
/*--------------------------------------*/
  article form {
    margin-bottom: 40px; }
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea,
  .field {
    padding: 0 10px;
    width: 93%;
    max-width: 500px; }
  textarea {
    width: 94%; }
  select {
    width: 100%;
    max-width: 525px; }
  /*    T Y P O G R A P H Y
/*--------------------------------------*/
  .page h1 {
    margin-top: 0em !important; }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    text-rendering: optimizelegibility; }
    h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
      text-decoration: none; }
  h1 {
    font-size: 2.5em;
    line-height: 1em; }
  h2 {
    font-size: 1.75em;
    line-height: 1.4em;
    margin-bottom: 0.375em; }
  .home .col h3, .col + .col h3 {
    font-size: 1.35em; }
  h3 {
    font-size: 1.125em; }
  h4 {
    font-size: 1.1em;
    font-weight: 700; }
  h5 {
    font-size: 0.846em;
    line-height: 2.09em;
    text-transform: uppercase;
    letter-spacing: 2px; }
  p {
    clear: both; }
  blockquote {
    padding: 1px 22px 1px 22px;
    font-size: 1.2em;
    font-style: italic;
    color: #81009e;
    border-left: 15px solid #ad59bf;
    margin: 30px 0; }
  a:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
  /*    O T H E R
/*--------------------------------------*/
  .alignleft, .alignright, .aligncenter, .alignnone, .wp-post-image {
    float: none;
    margin: 0 auto;
    height: auto;
    max-width: 100%; }
  .wp-caption {
    max-width: 100%; }
    .wp-caption img {
      max-width: 100%;
      height: auto; }
    .wp-caption .wp-caption-text {
      font-size: 0.85em;
      margin: 4px 0 7px;
      text-align: center; }
  .color-block {
    margin: 1px; }
  .fixclear:after {
    overflow: auto; }
  /*    P O S T S  &  C O N T E N T  S T Y L E S
/*--------------------------------------*/
  article header {
    padding: 0; }
  .entry-content table {
    margin-bottom: 1.5em; }
  .entry-content .size-auto,
  .entry-content .size-full,
  .entry-content .size-large,
  .entry-content .size-medium,
  .entry-content .size-thumbnail {
    max-width: 100%;
    height: auto; }
  /*    P A G I N A T I O N
/*--------------------------------------*/
  .pagination, .wp-prev-next {
    margin: 1.5em 0; }
  .pagination {
    text-align: center; }
    .pagination ul {
      display: inline-block;
      white-space: nowrap;
      padding: 0;
      clear: both; }
    .pagination li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden; }
    .pagination a, .pagination span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block; }
      .pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus {
        background-color: #81009e;
        color: white; }
    .pagination .current {
      cursor: default;
      color: rgba(0, 0, 0, 0.87); }
      .pagination .current:hover, .pagination .current:focus {
        background-color: white;
        color: rgba(0, 0, 0, 0.87); }
  .wp-prev-next .prev-link {
    float: left; }
  .wp-prev-next .next-link {
    float: right; } }

@media only screen and (min-width: 1440px) and (min-width: 1400px) {
  .home #hero, .home #hero .content, .home #slider, .home #slider li {
    height: 511px; }
  .home #hero .hero-description {
    padding-top: 417px; } }

@media only screen and (min-width: 1440px) and (min-width: 1600px) {
  #hero {
    height: 363px; }
  .home #hero, .home #hero .content, .home #slider, .home #slider li {
    height: 584px; }
  .home #hero .hero-description {
    padding-top: 496px; } }

@media only screen and (min-width: 1440px) and (min-width: 1800px) {
  #hero {
    height: 408px; } }

@media only screen and (min-width: 1440px) and (min-width: 2000px) {
  #hero {
    height: 453px; } }

/* ==========================================================================
   Mobile Fixes
   ========================================================================== */
@media only screen and (max-width: 350px) {
  .slicknav_btn {
    padding-top: 15px !important; } }

@media only screen and (min-width: 400px) {
  .slicknav_btn {
    padding-top: 5px; } }

@media only screen and (min-width: 550px) and (max-width: 629px) {
  header nav.mobile {
    display: block;
    padding: 0;
    margin: -60px 0 10px 0; } }

@media only screen and (min-width: 630px) and (max-width: 960px) {
  header nav.mobile {
    display: block;
    padding: 0;
    margin: -65px 0 10px 0; } }

@media only screen and (min-width: 480px) and (max-width: 799px) {
  .home #hero .content {
    width: 100%;
    height: 250px; }
  .home .col {
    width: 100% !important; }
    .home .col ul, .home .col ol {
      width: 100% !important;
      float: left;
      margin-bottom: 0; }
    .home .col ol {
      margin-bottom: 20px; }
    .home .col img {
      display: block;
      float: left;
      clear: left;
      height: auto; }
    .home .col li {
      padding: 0 0 0 0;
      margin: 0 0 15px 0;
      clear: both;
      float: left; }
      .home .col li .news-item {
        float: left;
        width: 75%;
        clear: right; }
    .home .col .btn {
      clear: both; }
    .home .col.events-col {
      margin-bottom: 30px !important; }
  #tribe-events-content.col, #tribe-events .col.side.feed {
    width: 100% !important; } }

@media only screen and (min-width: 700px) and (max-width: 799px) {
  .filter, .filter-title {
    display: block; }
  .archive .content header {
    text-align: center;
    width: 100%; }
  .people-list .person-item {
    float: none !important;
    padding: 15px 0;
    width: 50%;
    height: auto;
    text-align: left; }
  .post-type-archive-books article header {
    width: 95%; }
    .post-type-archive-books article header .cover {
      display: block;
      margin: 15px auto; }
  .post-type-archive-books .book-list {
    margin-top: 20px;
    clear: both; }
    .post-type-archive-books .book-list li {
      padding: 15px 0;
      margin: 0 1.5%;
      width: 30%;
      height: auto;
      text-align: center;
      float: left;
      clear: none; }
    .post-type-archive-books .book-list .custom-cover, .post-type-archive-books .book-list img {
      float: none;
      margin: 0 auto; } }

@media only screen and (min-width: 800px) and (max-width: 960px) {
  #hero {
    display: block;
    height: 280px; }
  .home #hero .content {
    width: 100%;
    height: 280px; }
  .single .breadcrumbs + .content, .archive .breadcrumbs + .content, .page .breadcrumbs + .content {
    width: 95%; }
  .single .col, .archive .col, .page .col {
    max-width: 65%;
    float: left;
    margin: 0 15px 0 0; }
  .single #main-content .content, .archive #main-content .content, .page #main-content .content {
    max-width: 65%;
    float: left;
    margin: 0 15px; }
  .single .col.side, .archive .col.side, .page .col.side {
    width: 220px !important;
    margin: 0 0 0 20px !important;
    float: right; }
  .single .col.side.feed, .archive .col.side.feed, .page .col.side.feed {
    width: 220px !important;
    margin: 0 auto; }
  .home .col {
    width: 31% !important;
    float: left;
    margin: 0; }
  .home .col + .col {
    width: 31% !important;
    float: left;
    margin: 0 0 0 26px; }
  .home #main-content .content {
    width: 95% !important;
    max-width: 100% !important;
    margin: 0 auto;
    float: none; }
  .col + .col nav.page-nav h3 {
    padding-bottom: 10px;
    margin: 0 0 20px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12); }
  .col + .col nav.page-nav a {
    border-top: none;
    padding: 0;
    display: block; }
  .col + .col nav.page-nav a:hover {
    background: none; }
  .filter, .filter-title {
    display: block; }
  .archive .content header {
    text-align: center;
    width: 100%; }
  .people-list .person-item {
    float: none !important;
    padding: 15px 0;
    width: 33%;
    height: auto;
    text-align: center; }
    .people-list .person-item .photo {
      float: none;
      margin: 0 15px; }
  .single-people article header {
    text-align: left; }
    .single-people article header img {
      display: none; }
  .single-people .col {
    max-width: 65%; }
  .single-people #main-content .content {
    max-width: 65%;
    float: left;
    margin: 0 15px; }
  .single-people .col + .col {
    margin-top: 0;
    width: 220px !important;
    float: right; }
    .single-people .col + .col img {
      display: block;
      width: 90%;
      height: auto; }
    .single-people .col + .col .table-of-contents {
      display: block; }
  .post-type-archive-books .content header {
    width: 95%; }
  .post-type-archive-books .book-list {
    margin-top: 20px;
    clear: both; }
    .post-type-archive-books .book-list li {
      padding: 15px 0;
      margin: 0 1.5%;
      width: 30%;
      height: auto;
      text-align: center;
      float: left;
      clear: none; }
    .post-type-archive-books .book-list .custom-cover, .post-type-archive-books .book-list img {
      float: none;
      margin: 0 auto; }
  .single-books .content header .cover {
    display: none;
    margin: 15px auto; }
  .single-books .col + .col {
    float: right;
    width: 220px !important;
    margin-right: 0; }
    .single-books .col + .col .cover {
      display: block;
      width: 190px;
      height: auto;
      margin: 0 auto; }
    .single-books .col + .col .custom-cover.cover {
      width: 160px;
      height: 205px; }
    .single-books .col + .col .custom-cover .title {
      font-size: 1.2em;
      line-height: 1em;
      text-align: center; }
  footer {
    margin-top: 60px; } }

@media print {
  /* ==========================================================================
   Print Stylesheet
   ========================================================================== */
  /* Good Defaults */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 1.5cm 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; }
  /* Custom Styles */
  footer .copyright, footer .copyright p {
    margin: 0; }
  footer {
    margin-top: 0; }
  header a:after,
  a[href^="http://ucla.edu"]:after,
  .tribe-events-cal-links a:after {
    content: none; }
  #main-content {
    width: 100%; }
  .give-back,
  header form,
  footer img,
  #hero,
  #slider,
  .side,
  #tribe-events-bar {
    display: none; }
  dl.faq dd {
    display: block !important; } }
