/* ==========================================================================
   Button Styles
   ========================================================================== */

// *********************
// BUTTON DEFAULTS
// *********************/

%btn {
	background: $btn-color;
	color: $white-text-color!important;
	padding: 3px 10px;
	font-weight: bold;
	letter-spacing: 1px;
	min-width: 90px;
	display: inline-block;
	text-align: center;
	border: none;
	cursor: pointer;
	position: relative;
	@include border-radius($radius);
	@include transition(background-color 0.24s ease-in-out);

	&:hover, &:focus {
		background: $btn-hover-color;
		color: $white-text-color;
	}
	&:active {
	  top: 1px;
	}
}
.btn, button, input[type="submit"], .page .btn, .single .btn, a.btn  {
	@extend %btn;
}
.btn.give {
	background-image: url('../images/heart-icon.png');
	background-position: 11px center;
	background-repeat: no-repeat;
	padding: 3px 20px 3px 27px;
	margin: 0 auto;
	text-align: left;
	min-width: auto;
}

// Need to duplicate button code and make important for Events
.tribe-bar-submit .tribe-events-button, .tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
	background-color: $btn-color!important;
	color: $white-text-color!important;
	padding: 3px 0!important;
	font-weight: bold!important;
	letter-spacing: 1px!important;
	min-width: 110px!important;
	display: inline-block!important;
	text-align: center!important;
	border: none!important;
	cursor: pointer!important;
	position: relative!important;
	border-radius: $radius!important;
	background-clip: padding-box!important;
	transition: background-color 0.24s ease-in-out!important;
	-webkit-transition: background-color 0.24s ease-in-out!important;

	&:hover, &:focus {
		background-color: $btn-hover-color!important;
		color: $white-text-color!important;
	}
	&:active {
	  top: 1px;
	}
}
// For submit bar button
.tribe-bar-submit .tribe-events-button {
	padding: 6px 0!important;
	text-transform: none!important;
	font-size: 14px!important;
}