/*    E V E N T S
/*--------------------------------------*/
// Using The Events Calendar plugin: https://wordpress.org/plugins/the-events-calendar
// Some quick defaults but in future iteration will create fully customized theme.
// Use the Full Styles setting.

.post-type-archive-tribe_events .col {
	float: none;
	width: 100%;
}
.tribe-bar-submit {
	float: right!important;
	width: 140px;
	margin: 1px 20px 0 0;
}
.tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
	padding: 3px 0!important;
}
.tribe-bar-submit .tribe-events-button {
	margin-top: 10px!important;
}
#tribe-events, #tribe-events-content.tribe-events-month {
    width: 940px;
    margin: 0 auto;
}
#tribe-events-content {
	width: 640px;
	margin: 0 auto;
}
.tribe-events-venue-details {
	font-weight: normal;
}
.tribe-events-list .vevent.hentry {
	border-bottom-color: $border-color;
	border-bottom-width: 2px;
}
.tribe-events-schedule {
	margin: 0!important;
	
	p {
		margin-top: 0;
	}
}
#tribe-bar-views select, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	background-color: #eee!important;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
	background-color: #e0e0e0!important;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
	background-color: #e0e0e0!important;
}
.tribe-events-list-widget {
	h3 {
		//margin-bottom: 30px!important;
	}
	h4 {
		//margin-bottom: 5px;
	}
	.duration {
		color: $text-color;
		line-height: 1.5em;
		font-size: .85em;
	}
	.duration span {
		display: inline; 
		font-weight: bold;
		padding: 0;
		margin: 0;
	}
	.tribe-events-widget-link {
		padding-left: 0;
	}
	ol li {
		margin-bottom: 20px;
	}
}
#tribe-bar-form {
	background-color: $bg-light-color;
	padding: 0 0 0 20px;

	label {
		font-size: 1em;
		margin-top: 5px;
	}
	input[type="text"] {
		font-weight: normal;
	}
}