/* ==========================================================================
   Main Styles - Desktop
   ========================================================================== */
   
/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/

#container {
	background: white;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
	@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}
section {
    padding: 15px 0;
}

/*    H O M E  P A G E
/*--------------------------------------*/

.home #hero {
	height: 438px;
	margin: 0 0 40px 0;
	
	.content {
		width: 100%;
		height: 438px;
		@include vendor-prefix('box-shadow', 'inset 0px -40px 80px 60px rgba(0,0,0,0.5)');
	}
	.hero-description {
		//font-size: 1.5em;
		font-style: italic;
		color: white;
		text-align: right;
		width: 580px;
        max-height: 150px;
		padding: 350px 0 0 360px;
		margin: 0 auto;
		//position: relative;
		//bottom: 6%;
        //right: 20%;     
        text-shadow: #000 0px 1px 8px;
        
        h2 {
            color: $white-text-color!important;
            display: inline-block;
            border-top: $link-color solid 5px;
            padding: 5px 0px 0px 0px;
            
        }
	
		p {
            display: block;
			font-size: 16px;
			line-height: 18px;
            font-style: italic;
            margin-top: 0px;
		}
	}
    
	&.mobile-hero {
		display: none;
	}
}
.home .col:nth-of-type(1){
    width: 300px !important;
    
}
.home .col {
	float: left;
	
	ul {
		margin-top: 0;
	}
	li {
		list-style: none;
		margin-left: 0;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-size: .85em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.two {
		//width: 460px;
		width: 380px;
	}
	&.news-col {
		.news-item p {
			color: $text-color;
			font-weight: normal;
		}
		li {
			padding: 0 0 5px 0;
			clear: both;
			
			.post-date {
				font-weight: bold;
				display: inline-block;
				padding-right: 5px;
				margin-right: 5px;
				border-right: 1px solid $border-color;
			}
		}
		.btn {
			margin-top: -5px;
		}
		&.one {
			.news-item {
				float: right;
				width: auto;
			}
		}
		&.two {
			.news-item {
				float: right;
				//width: 330px;
				width: 250px;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
	&.events-col {
		
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}

/*    H E A D E R
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		h1, h2 { 
			width: 690px;
			display: inline-block;
			margin: 0;
			text-align: center;
            border: none;
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		width: 581px;
		height: 72px;
	}
	nav {
		clear: both;
		float: left;
		//padding: 30px 0 20px 0;
	}
	nav.mobile {
		display: none;
	}
	nav ul {
		width: 760px;
	}
	.search {
		float: right;
		clear: right;
		//margin-top: 30px;
        margin-top:15px;
        background-color: #f2f2f2;
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span {
			font-size: .85em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 20px;
		// For retina, upload image 2x larger and resize here
		width: 119px;
		height: 38px;
	}
}
.breadcrumbs {
	//background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: $secondary-text-color;
	font-size: .85em;
	padding: 8px 0;
	margin-bottom: 40px;
    border-bottom: $border-color 2px solid;
	
	img {
		margin: 0;
		padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		clear: both;
		float: left;
	}
	li {
		float: left;
		display: inline-block;
		padding: 0 0 0px 10px;
		margin: 0;
	}
	li + li {
		margin: 0 0 0 5px;
		background: url('../images/arrow.png') no-repeat left center;
	}
	a {
		font-weight: bold;
		color: $link-color;
		text-decoration: underline;
	}
}

/*    N A V I G A T I O N
/*--------------------------------------*/

header nav.desktop ul, footer nav ul {
	padding: 0;
	margin: 0;
	float: left;
}
header nav.desktop ul li, footer nav ul li {
	display: inline-block;
	margin: 0 10px 0 0;
}
header.top {
    width: auto !important;
    .nav-search {
        min-height: 54px;
        background: #000;
        margin-top: 32px;
        padding: 0px;
        position: relative;
        clear: both;
            nav.desktop ul {
                
                li {
                    position: relative;
                    padding: 15px 10px;
                    margin: 0px -2px;
                    max-height: 24px;
                    
                    ul li {max-height: none;}
                }
                li:nth-child(1), li:nth-child(1) ul.sub-menu {
                    background-color: #e40206;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(2), li:nth-child(2) ul.sub-menu {
                    background-color: #f78e0a;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(3), li:nth-child(3) ul.sub-menu {
                    background-color: #edc919;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(4), li:nth-child(4) ul.sub-menu {
                    background-color: #4aca5f;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(5), li:nth-child(5) ul.sub-menu {
                    background-color: #0093cf;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(6), li:nth-child(6) ul.sub-menu {
                    background-color: #b30071;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(7), li:nth-child(7) ul.sub-menu {
                    background-color: #3f005e;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(8), li:nth-child(8) ul.sub-menu {
                    background-color: #e40206;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                
                // hover
                
                
                li:nth-child(1):hover, li:nth-child(1) ul.sub-menu li:hover {
                    background-color: shade(#e40206, 90% ) !important;
                }
                li:nth-child(2):hover, li:nth-child(2) ul.sub-menu li:hover {
                    background-color: shade(#f78e0a, 90% ) !important;                    
                }
                li:nth-child(3):hover, li:nth-child(3) ul.sub-menu li:hover {
                    background-color: shade(#edc919, 90% ) !important;
                }
                li:nth-child(4):hover, li:nth-child(4) ul.sub-menu li:hover {
                    background-color: shade(#4aca5f, 90% ) !important;  
                }
                li:nth-child(5):hover, li:nth-child(5) ul.sub-menu li:hover {
                    background-color: shade(#0093cf, 90% ) !important; 
                }
                li:nth-child(6):hover, li:nth-child(6) ul.sub-menu li:hover {
                    background-color: shade(#b30071, 90% ) !important; 
                }
                li:nth-child(7):hover, li:nth-child(7) ul.sub-menu li:hover {
                    background-color: tint(#3f005e, 80% ) !important;
                }
                li:nth-child(8):hover, li:nth-child(8) ul.sub-menu li:hover {
                    background-color: shade(#e40206, 90% ) !important;
                }
            }
    }
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		//padding: 0 10px;
		width: 170px;
		top: 49px;
        left:0px;
		//border-top: 4px solid $primary-light;
		margin-top: 5px;
		//background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	/*ul li.menu-item-has-children {
		background: url('../images/nav-arrow.png') no-repeat 95% center;
		padding-right: 10px;
	} */
    ul li.menu-item-has-children:after {
        content: '\25BC';
        //color:#fff;
        font-size: 8px;
		//content: url('../images/nav-arrow.png');
		padding-left: 2px;
        //margin-top: -10px;
        position: relative;
        top:-2px;
	}
	ul li ul li.menu-item-has-children {
		background: none;
	}
	a {
		font-weight: bold;
		text-transform: uppercase;
		font-size: .85em;
		letter-spacing: 0.04em;
	}
	a, a:link, ul li.menu-item-has-children:after {
		color: $white-text-color;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active, ul li:hover.menu-item-has-children:after {
		//color: $link-hover-color;
        //color: rgba(black, .40);
        color: rgba($white-text-color, .75);
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin-bottom: 10px;
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu {
		display: block;
		margin: 0 0 0 20px;
	}
	.sub-menu li:before {
		content: "•";
		color: $bullet-point;
		font-size: 1.5em;
		padding-right: 5px;
	}	
}
.col-nav {
		width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*    F O O T E R
/*--------------------------------------*/

footer {
	//background-color: $primary;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $text-color;
	font-size: 1em;
	line-height: 1.5em;    
    border-top: $border-color 4px solid;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: $link-color;
			font-weight: bold;
			text-transform: uppercase;
			font-size: .85em;
			letter-spacing: 1px;
            text-decoration: underline;
		}
		ul.footer-nav {
			clear: left;
			float: left;
			margin-right: 50px;
		}
		ul.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin-left: 5px;
			display: inline-block;
			vertical-align: middle;
			
			// For retina, upload image 2x larger and resize here
			img {
				width: auto;
				height: 21px;
			}
			.email {
				height: 18px;
			}
		}
	}
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .85em;
		
		.university-logo img {
			float: left;
			width: 100px;
			height: 32px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: $link-color;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*    P E R S O N  P A G E
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: inline-block;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0px;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
        background-color: $ucla-blue;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}

.link {
	background: url('../images/link-icon.png') no-repeat left center;
	padding-left: 18px;
}
.download {
	background: url('../images/download-icon.png') no-repeat left center;
	padding-left: 18px;
}

/*    P E O P L E  A R C H I V E
/*--------------------------------------*/

/* Filters */
.tax-people_cat .main header {
	text-align: center;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0px;
		letter-spacing: 0px;
	}
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 15px 10px;
		margin: 0px;
		width: 210px;
		height: 280px;
		text-align: center;
		line-height: 1.3em;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
            &:hover {        
                .name {
                    color: $secondary;
                    text-decoration: underline;
                }
                .photo {                 
                    border: 7px solid #dadada;
                    -webkit-filter: grayscale(70%);
                    -moz-filter: grayscale(70%);
                    -o-filter: grayscale(70%);
                    -ms-filter: grayscale(70%);
                    filter: grayscale(70%);
                   opacity: 0.9;
                  filter: alpha(opacity=90);
                }
            }            
		}
		&:active, 
		&:hover, 
		&:focus {
			background-color: $bg-light-color;
		}
        		
		.photo {
			border: 7px solid white;
			width: 150px;
			height: 150px;
            background-color: $ucla-blue;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 100px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
            font-size: 1.2em;
			text-transform: uppercase;
			color: $text-color;
			letter-spacing: 1px;
		}
		.interest {
			font-size: .85em;
			color: $text-color;
			line-height: 1em;
		}
		.position {
			color: $primary-dark;
			font-style: italic;
			margin-bottom: 10px;
		}
		.email, .office, .office-hours, .phone {
			font-size: .85em;
			margin: 0;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
}

/* Grad Student Page */
.term-grad .people-list {
}

/* Staff */
.term-staff .people-list {

	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
	.position {
		margin-top: 10px;
	}
}

/*    B O O K S
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: white;
		font-weight: bold;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .85em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .85em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .85em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .85em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		background: url('../images/comma.jpg') no-repeat left 9px;
		padding-left: 10px;
		margin-left: -2px;
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: block;
			padding: 15px 10px;
			margin: 0 10px;
			width: 195px;
			height: 280px;
			text-align: center;
			float: left;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .85em;
			line-height: .85em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .85em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}
/*    A R T I C L E S
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
		padding-top: 20px;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*    T A B L E S
/*--------------------------------------*/

td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
  background-color: $bg-dark-color;
}
td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $border-color;
}

/*    O T H E R
/*--------------------------------------*/

.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
    padding: 5px;
    background-color: #fafafa;
    border: 2px solid #e5e5e5;
}

/* FAQ */
dl.faq {
	dt.question {
		background: white url('../images/inactive-arrow.png') no-repeat left 10px;
		padding-left: 15px;
		cursor: pointer;
	}
	dt.active {
		background: white url('../images/active-arrow.png') no-repeat left 10px; 
	}
	dd {
		margin-left: 15px;
	}
	dd > p {
		margin-top: 10px;
	}
}

/* Galleries */
.gallery {

	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
// When using Responsive Lightbox plugin
#fancybox-close {
	right: -40px!important;
}
#fancybox-right {
	right: -25px!important;
}
#fancybox-right:hover span {
	left: auto;
	right: 10px;
}
#fancybox-left:hover span {
	left: 10px;
}

// *********************
// COLOR PALETTE EXAMPLE
// Remove this before making site live
// *********************/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: white;
}